*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient(#ccc, white);
}

form{
    display: flex;
    flex-direction: column;

    box-shadow: 0px 5px 10px rgb(221, 122, 235),0px 5px 20px gray;
    padding: 30px;
    background-color: rgb(101, 224, 233);
}

h1{
    margin-bottom: 10px;
    font-family:cursive ;
}

h2{
    margin-bottom: 10px;
    font-family:cursive ; 
}

input{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    background-color: whitesmoke;
}

label{
    font-family:cursive;
}

button{
    width: 100px;
    height: 40px;
    background-color: rgb(234, 190, 245);
}